<!doctype html>
<html>
<head>
    <title>LianxiLib | Profile</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/v5-font-face.min.css" integrity="sha512-wVffp1z2cYYhxt8nhif5UsMu415VRqX2CkMeWg5lYyrcpFBLfoMQ6ngVSJG8BumKBl83wf2bMRDwVmTgfoDovQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <header>
        <a href="#" class="brand">LianxiLib</a>
        <div class="menu-btn"></div>
        <div class="navigation">
          <div class="navigation-items">
            <a href="/">Home</a>
            <a href="/practice">Practice</a>
            <a href="/profile">My Profile</a>
            <a href="/login">Login</a>
          </div>
        </div>
      </header>
<div class="profcontainer">

    <div class="page-header text-center">
        <h1> My Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="addChar">
        <h2 class="add">Add Characters to your Library</h2>
        <% if (user.local.email) { %>

          <form action="/addChar" enctype="multipart/form-data" method="POST">
            <input type="text" placeholder="Character" name="character" value="<%= params.character %>">
            <input type="text" placeholder="Definition" name="definition" value="<%= params.definition %>">
            <input type="text" placeholder="Pinyin" name="pinyin" value="<%= params.pinyin %>">
            <input type="file" name="file-to-upload">
            <button type="submit">Submit</button>
          </form>
          <section class="main-controls">
            <h2 class="add">Record and Download Your Pronounciation</h2>
            <canvas class="visualizer" height="40px"></canvas>
            <div id="buttons">
              <button class="record">Record</button>
              <button class="stop">Stop</button>
            </div>
          </section>
          <section class="sound-clips">


          </section>
        </div>
        <% } %>

        <div class="msgcenter">
          <h2 id="learned">Your Learned Character Library</h2>
          <p id="howTo">Keep track of your learned characters here. Use the checkmark to keep count of the days you have studied the character, use the star to favorite a character, and use the trashcan to delete it.</p>
          <section>
          <ul class="characters">
            <% for(let i= 0; i<characters.length; i++) { %>

            <li class="character <%= characters[i].favorited ? 'purple' : '' %>">
              <span id="big"><%= characters[i].character %></span>
              <span><%= characters[i].definition %></span>
              <span><%= characters[i].pinyin %></span>
              <audio controls src="<%= characters[i].audio %>"></audio>
              <span><%= characters[i].thumbUp %></span>
              <span><i class="fa-solid fa-check" aria-hidden="true"></i></span>
              <span><i class="fa-solid fa-star" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
              <% } %> 
          </ul>
        </section>
</div>

<script src="main.js"></script>

</body>
</html>
